.parent{
    width:100% ;
    height: 600px;
    background-color: black;
    display: grid;
    /* grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px 100px; */
    grid-template-columns: repeat(4,1fr);
    /* ek row me 4 columns lany hain ifr means frictions  */
    column-gap: 20px;
    row-gap: 10px;
    /* justify-items: center;
    justify items for x axis */
    /* align-items: center; for y axis  */
    /* align-items: end; */
    /* place-items: center; if want to apply both align item and justify item at time time  */

} 
.items{
    background-color: red;
    /* width: 50px;
    height: 50px; */
    border: 2px solid blue;

}

.merged{
    /* to merge columns and from 1 till 3 */
    /* grid-column-start: 1;
    grid-column-end:3 ; */

    grid-column: 1/span 3;
    /* no. of columns count , merge the row 3 */
}

.center{
    align-self: center;
    justify-content:center;
    align-items:center;
}

/* 320px — 480px: Mobile devices. */

@media (min-width: 320px) and (max-width: 480px) {
    .parent {
        grid-template-columns: repeat(2,1fr);
        /* 1 row me 2 column  */
    }
}